  /* Copyright 2024 Group 2 AI Course MIE212401 Final Project */

  /* Licensed by Jules */
  /* you may not use this file for public use except in compliance with the license. */
  /* you may obtain a copy of the license at */

  /* julianrafi@gmail.com */

  /* Unless required by applicable law or agreed to in writing, software */
  /* distributed under the License is distributed on an "AS IS" BASIS, */
  /* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. */
  /* See the License for the specific language governing permissions and */
  /* limitations under the License. */

  /* Author: Cindy Prilia (cindyprilia04@gmail.com) */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); 

font-face {
    font-family: customFont;
    src: url('../font/Sansation-Light.ttf');
}
  
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  min-height: 100vh;
      /* background-image: url('../image/health_care.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Josefin', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #f7e7df;
  color: #c2956b;
  font-weight: 700;
}
  
body::-webkit-scrollbar {
  display: none;
}

.blur{
  position: absolute;
  box-shadow: 0 0 2000px 30px #e4c7a6;
  z-index: -100;
  padding: 100px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.result {
  font-size: 30px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.result-text{
  color: #c2956b;
}