<!--Copyright 2024 Group 2 AI Course MIE212401 Final Project

    Licensed by Jules
    you may not use this file for public use except in compliance with the license.
    you may obtain a copy of the license at

    julianrafi@gmail.com

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!-- Author: Cindy Prilia (cindyprilia04@gmail.com)-->

<!DOCTYPE html>
<html lang="en">
    <title>Health Care Fuzzy System</title>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
</head>
<style>
    
</style>
<body>
    <section id="about">
        <h1>About Us</h1>
        <p>Our test is made for people who wanted to know
            about their heart conditions. Heart disease is 
        </p>
    </section>
</body>
</html>