<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="filename='css/style.">
<head>
    <meta charset="UTF-8">
    <title>Health Care</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" type="text/css">
    <script src="script.js" defer></script>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li id="home-link" class="link"><a href="#">Home</a></li>
            <li id="link1" class="link"><a href="#">About</a></li>
            <li id="link2" class="link"><a href="{{url_for('templates', filename='html/index.html')}}">Test</a></li>
        </ul>
    </nav>

    <header class="container">
        <div id="home-content" class="content">
            <span class="blur"></span>
            <span class="blur"></span>
            <h1>Empowering Hearts, Predicting Futures: AI-driven Insights for Heart Health</h1>
            <h2>A site made for Artificial Intelligence course</h2>
            <p>Take a test to know your heart conditions!</p>
            <button class="button">Take a Test</button>
        </div>
    </header>

    <section id="about" class="hidden">
        <h1>About Us</h1>
        <p>Our test is made for people who wanted to know
            about their heart conditions. Heart disease is 
        </p>
    </section>

</body>
</html>